# Lab 4 Oil Drill

### Выполнили:

Смирнов Павел М8О-211М-19

Яковлева Александра М8О-205М-19

Становская Яна М8О-205М-19

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)

In [ ]:
Загрузим и

In [2]:
df_well_0 = pd.read_csv("geo_data_0.csv")
df_well_1 = pd.read_csv("geo_data_1.csv")
df_well_2 = pd.read_csv("geo_data_2.csv")
df_well_2.head(10)

      id        f0        f1        f2     product
0  fwXo0 -1.146987  0.963328 -0.828965   27.758673
1  WJtFt  0.262778  0.269839 -2.530187   56.069697
2  ovLUW  0.194587  0.289035 -5.586433   62.871910
3  q6cA6  2.236060 -0.553760  0.930038  114.572842
4  WPMUX -0.515993  1.716266  5.899011  149.600746
5  LzZXx -0.758092  0.710691  2.585887   90.222465
6  WBHRv -0.574891  0.317727  1.773745   45.641478
7  XO8fn -1.906649 -2.458350 -0.177097   72.480640
8  ybmQ5  1.776292 -0.279356  3.004156  106.616832
9  OilcN -1.214452 -0.439314  5.922514   52.954532

In [3]:
df_well_2.isna().sum()

id         0
f0         0
f1         0
f2         0
product    0
dtype: int64

In [4]:
df_well_0.shape[0]

3485

In [5]:
df_well_0.describe()

                f0           f1           f2      product
count  3485.000000  3485.000000  3485.000000  3485.000000
mean      0.469711     0.243025     2.561833    93.223176
std       0.869782     0.507378     3.284649    44.374145
min      -1.300231    -0.844908   -12.088328     0.038252
25%      -0.100346    -0.214309     0.319428    56.673596
50%       0.458821     0.232997     2.536604    94.436679
75%       1.043742     0.696354     4.790585   129.176490
max       2.186138     1.260615    13.339420   185.354980

In [6]:
df_well_1.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        1.141296      -4.796579       2.494541      68.825000
std         8.965932       5.119872       1.703572      45.944423
min       -31.609576     -26.358598      -0.018144       0.000000
25%        -6.298551      -8.267985       1.000021      26.953261
50%         1.153055      -4.813172       2.011479      57.085625
75%         8.621015      -1.332816       3.999904     107.813044
max        29.421755      18.734063       5.019721     137.945408

In [7]:
df_well_2.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.002023      -0.002081       2.495128      95.000000
std         1.732045       1.730417       3.473445      44.749921
min        -8.760004      -7.084020     -11.970335       0.000000
25%        -1.162288      -1.174820       0.130359      59.450441
50%         0.009424      -0.009482       2.484236      94.925613
75%         1.158535       1.163678       4.858794     130.595027
max         7.238262       7.844801      16.739402     190.029838

## Train validation split and learn linear regression prediction

In [8]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

In [9]:
def predict_oil_reserve(df):
    train, test = train_test_split(df, test_size=0.25)
    X_train = train[["f0", "f1", "f2"]]
    y_train = train["product"]

    X_test = test[["f0", "f1", "f2"]]
    y_test = test["product"]

    # Create linear regression object
    regr = linear_model.LinearRegression()

    # Train the model using the training sets
    regr.fit(X_train, y_train)

    # Make predictions using the testing set
    y_pred = regr.predict(X_test)

    # Predicted reserve
    print('Average predicted reserve: %.2f'
          % np.mean(y_pred))

    # The mean squared error
    print('Root mean squared error: %.2f'
          % np.sqrt(mean_squared_error(y_test, y_pred)))
    return y_pred, y_test

In [10]:
print(f"{'Region 0:'}")
y_pred_0, y_test_0 = predict_oil_reserve(df_well_0)

print(f"{'Region 1:'}")
y_pred_1, y_test_1 = predict_oil_reserve(df_well_1)

print(f"{'Region 2:'}")
y_pred_2, y_test_2 = predict_oil_reserve(df_well_2)

Region 0:
Average predicted reserve: 93.48
Root mean squared error: 36.46
Region 1:
Average predicted reserve: 68.61
Root mean squared error: 0.89
Region 2:
Average predicted reserve: 95.06
Root mean squared error: 40.38

## Profit calc

In [11]:
N_wall = 200
cost_per_region = 10*(10**9) # rubles
cost_per_well = cost_per_region/N_wall
profit_per_unit = 4.5*(10**5)

In [12]:
profit_boundary = (profit_per_unit*num_well_per_region - region_cost)/num_well_per_region

NameError: name 'num_well_per_region' is not defined

In [ ]:
num_units = cost_per_well/profit_per_unit # amount for zero balance
print(f"Needed amount for zero balance {num_units}")

Needed amount significantly above predicted average

## Most profitable wells

In [ ]:
def profit_estimate(y_pred_0, y_test_0, N_wall, cost_per_region):
    idx = (-y_pred_0).argsort()[:N_wall]
    predicted_top_n_sum = np.sum(y_pred_0[idx])
    real_top_n_sum = np.sum(y_test_0[idx])

    predicted_revenue = predicted_top_n_sum*profit_per_unit
    real_revenue = real_top_n_sum*profit_per_unit

    print(f"Predicted revenue = {predicted_revenue} rub")
    print(f"Predicted profit = {predicted_revenue-cost_per_region} rub")

In [ ]:
print(f"{'Region 0:'}")
profit_estimate(y_pred_0, y_test_0, N_wall, cost_per_region)

print(f"{'Region 1:'}")
profit_estimate(y_pred_1, y_test_1, N_wall, cost_per_region)

print(f"{'Region 2:'}")
profit_estimate(y_pred_2, y_test_2, N_wall, cost_per_region)

### Bootstrap

In [13]:
pred_per_well = y_pred_0*profit_per_unit - cost_per_well

In [14]:
state = np.random.RandomState(12345)
values = []
data = pd.DataFrame(pred_per_well)
for i in range(1000):
    subsample = data.sample(frac=1, replace=True, random_state=state)
    values.append(subsample.quantile(0.99))

values = pd.Series(values)
    
lower = values.quantile(0.05)
upper = values.quantile(0.95)

print(lower)
print(upper)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().